@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing:border-box;
font-family: "poppins", sans-serif;
}

section{
    background-image: url("media/Yoga.jpg");
    position:relative;
    width: 100%;
    min-height: 100vh;
    justify-content:flex-start;
    background-size:cover;
    background-position:center;
    font-size: 15px;}

    h1{
        color:purple;
        font-size: 40px;
        text-transform:uppercase;
        font-weight: 800;
        letter-spacing: 2px;
        line-height: 60px;
        margin-bottom: 30px;
        margin-left: 550px;}

    h2{
        color:purple;
        font-size: 14px;
    }

    
    body{
        position:relative;
        width: 100%;
        min-height: 100vh;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        background: url('media/advanced-yoga.jpg')no-repeat;
        background-size:cover;
        background-position:center;
    }





    section1{
        position:relative;
        width: 100%;
        min-height: 100vh;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        background: url('media/yin\ yoga.jpg')no-repeat;
        background-size:cover;
        background-position:center;
    }




    section2{
        position:relative;
        width: 100%;
        min-height: 100vh;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        background: url('media/Hatha\ Yoga.jpg')no-repeat;
        background-size:cover;
        background-position:center;
    }


    





  
        